<footer id="footer" class="bg-soft-black">
    <div class="container top mb-10 md:mb-12">
      <aside class="widget">
        <h4 class="widget-title mb-3.5">Quick Links</h4>
        <ul class="menu-links">
          <li><a href="#">About the Institute</a></li>
          <li><a href="#">Rube Goldberg Contests</a></li>
          <li><a href="#">Educator Resources</a></li>
          <li><a href="#">Cartoon Gallery</a></li>
          <li><a href="#">Store</a></li>
        </ul>
      </aside>

      <aside class="widget">
        <h4 class="widget-title mb-3.5">Connect With Us</h4>
        <ul class="menu-links">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">YouTube</a></li>
        </ul>
      </aside>

      <aside class="widget">
        <h4 class="widget-title mb-3.5">Support Us</h4>
        <p>Help us unlock the potential of the next generation of engineers and problem-solvers</p>
        <p><a href="#" class="btn block-aqua sm">Support Us</a></p>
      </aside>

      <aside class="widget spacer"></aside>

      <aside class="widget">
        <h4 class="widget-title mb-3.5">Subscribe to Updates</h4>
        <form class="subscription-form">
          <label for="email" class="hidden">Email address</label>
          <input type="email" name="email" id="email" placeholder="Email address" class="text-off-white border-off-white" />
          <input type="submit" name="submit" id="submit" value="Submit"/>
        </form>
      </aside>
    </div>
    <div class="container bottom">
      <div class="logo-wrap">
        <a href="#"><img src="./img/footer-logo.svg" class="block w-[11.875rem] md:w-auto" width="277" height="auto" /></a>
      </div>
      <div class="copyright-wrap">
        <p>©2021 Rube Goldberg. All Rights Reserved. Rube Goldberg & Rube Goldberg Machine Contest are registered trademarks of Rube Goldberg Inc. All copyright and reproduction rights are the property of Rube Goldberg Inc. Rube Goldberg is a registered trademark of Rube Goldberg Inc. who holds the Rube Goldberg copyrights and trademarks. While Rube Goldberg Inc. encourages educational, non-profit, and commercial reprint and use of Rube's work, permission to reproduce drawings and images or use our trademark (RUBE GOLDBERG) in any way or in any media (including presentations, training materials, etc. both in-house and to clients), must be secured prior to use and requested in writing.</p>
        <p>Licensing | Privacy Policy | Terms and Conditions</p>
      </div>
    </div>
  </footer><!-- End of footer -->
</body>
<script src="./assets/js/main.js"></script>
</html>