/*
! tailwindcss v3.0.23 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
  display: none;
}

#header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 1024px) {
  #header {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}

.nav-toggle .close {
  display: none;
}

.nav-wrap .nav-toggle svg {
  width: 1.875rem;
}

@media (min-width: 1024px) {
  .nav-wrap .nav-toggle svg {
    width: 2.5rem;
  }
}

.nav-wrap.show .nav-toggle svg.open {
  display: none;
}

.nav-wrap.show .nav-toggle svg.close {
  display: block;
  --tw-text-opacity: 1;
  color: rgb(242 242 238 / var(--tw-text-opacity));
}

.nav-wrap .nav-toggle span.open {
  display: none;
}

@media (min-width: 1024px) {
  .nav-wrap .nav-toggle span.open {
    display: block;
  }
}

.nav-wrap .nav-toggle span.close {
  display: none;
}

@media (min-width: 1024px) {
  .nav-wrap .nav-toggle span.close {
    display: none;
  }
}

.nav-wrap.show .nav-toggle span.open {
  display: none;
}

.nav-wrap.show .nav-toggle span.close {
  display: none;
  --tw-text-opacity: 1;
  color: rgb(242 242 238 / var(--tw-text-opacity));
}

@media (min-width: 1024px) {
  .nav-wrap.show .nav-toggle span.close {
    display: block;
  }
}

.main-nav {
  position: fixed;
  right: -100%;
  top: 0px;
  z-index: 10;
  display: block;
  height: 100%;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 29 / var(--tw-bg-opacity));
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 0px;
  padding-bottom: 4rem;
  opacity: 0;
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .main-nav {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .main-nav {
    width: 40%;
  }

  .main-nav {
    padding-top: 8%;
  }
}

.nav-wrap.show .main-nav {
  right: 0px;
  opacity: 1;
}

.main-nav .nav-inner {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding-right: 4rem;
}

@media (min-width: 768px) {
  .main-nav .nav-inner {
    padding-right: 10rem;
  }
}

@media (min-width: 1280px) {
  .main-nav .nav-inner {
    width: 60%;
  }
}

.main-nav .nav-inner{
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.main-nav .nav-inner::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.main-nav .menu{
  list-style-type: none;
}

.main-nav .menu > li {
  margin-bottom: 1.75rem;
}

.main-nav .menu > li.active > a {
  --tw-text-opacity: 1;
  color: rgb(99 174 181 / var(--tw-text-opacity));
}

.main-nav .menu a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.main-nav .menu > li > a {
  display: inline-block;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(242 242 238 / var(--tw-text-opacity));
}

.main-nav .menu > li > a:hover {
  --tw-text-opacity: 1;
  color: rgb(99 174 181 / var(--tw-text-opacity));
}

.main-nav .menu > li.has-children > a {
  margin-bottom: 0.375rem;
}

.main-nav .menu .sub-menu > li {
  margin-bottom: 0.375rem;
}

.main-nav .menu .sub-menu > li > a {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(242 242 238 / var(--tw-text-opacity));
}

.main-nav .menu .sub-menu > li > a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.main-nav .widget-title {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(132 133 128 / var(--tw-text-opacity));
}

.main-nav .links {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.main-nav .links a {
  --tw-text-opacity: 1;
  color: rgb(242 242 238 / var(--tw-text-opacity));
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.main-nav .links a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

#footer {
  padding-top: 2.5rem;
  padding-bottom: 2.25rem;
}

@media (min-width: 768px) {
  #footer {
    padding-top: 4rem;
  }

  #footer {
    padding-bottom: 5rem;
  }
}

#footer .widget-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(242 242 238 / var(--tw-text-opacity));
}

#footer .top {
  --tw-text-opacity: 1 !important;
  color: rgb(242 242 238 / var(--tw-text-opacity)) !important;
}

#footer .top p, #footer .top li {
  --tw-text-opacity: 1 !important;
  color: rgb(242 242 238 / var(--tw-text-opacity)) !important;
}

#footer .top ul li {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

#footer .top p {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

#footer .menu-links li a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

#footer .menu-links li a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

#footer .top {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.875rem;
}

@media (min-width: 1024px) {
  #footer .top {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  #footer .top {
    gap: 0.5rem;
  }
}

#footer .top .widget:nth-child(3), #footer .top .widget:last-child {
  grid-column: span 2 / span 2;
}

@media (min-width: 768px) {
  #footer .top .widget:nth-child(3), #footer .top .widget:last-child {
    grid-column: span 1 / span 1;
  }
}

#footer .top .widget.spacer {
  display: none;
}

@media (min-width: 1024px) {
  #footer .top .widget.spacer {
    display: block;
  }
}

#footer .bottom {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
}

@media (min-width: 768px) {
  #footer .bottom {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  #footer .bottom {
    gap: 2.5rem;
  }
}

#footer .bottom .copyright-wrap {
  grid-column: span 1 / span 1;
}

@media (min-width: 768px) {
  #footer .bottom .copyright-wrap {
    grid-column: span 3 / span 3;
  }
}

#footer .bottom p, #footer .bottom li {
  --tw-text-opacity: 1 !important;
  color: rgb(188 188 184 / var(--tw-text-opacity)) !important;
  font-size: 0.688rem;
  line-height: 1.5rem;
}

#footer .bottom p {
  margin-bottom: 1rem;
}

html {
  font-family: "Nimbus Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

body {
  overflow-x: hidden;
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 238 / var(--tw-bg-opacity));
  font-family: "Nimbus Sans", sans-serif;
  --tw-text-opacity: 1;
  color: rgb(30 30 29 / var(--tw-text-opacity));
}

.h1, h1 {
  margin-bottom: 0.375rem;
  font-family: "Nimbus Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
  --tw-text-opacity: 1;
  color: rgb(30 30 29 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .h1, h1 {
    font-size: 2.688rem;
  }
}

.h1,h1{
  /*text-5xl*/
}

.h2, h2 {
  font-family: "Nimbus Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
  --tw-text-opacity: 1;
  color: rgb(30 30 29 / var(--tw-text-opacity));
}

.h2,h2{
  /*text-4xl*/
}

.h3, h3 {
  margin-bottom: 1.125rem;
  font-family: "Nimbus Sans", sans-serif;
  font-size: 1.563rem;
  font-weight: 700;
  line-height: 1.25;
  --tw-text-opacity: 1;
  color: rgb(30 30 29 / var(--tw-text-opacity));
}

.h3,h3{
  /*text-[1.75rem]*/
}

.h4, h4 {
  font-family: "Nimbus Sans", sans-serif;
  font-size: 1.313rem;
  font-weight: 700;
  line-height: 1.25;
  --tw-text-opacity: 1;
  color: rgb(30 30 29 / var(--tw-text-opacity));
}

.h4,h4{
  /*text-xl*/
}

.h5, h5 {
  font-family: "Nimbus Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  line-height: 1.25;
  --tw-text-opacity: 1;
  color: rgb(30 30 29 / var(--tw-text-opacity));
}

.h5,h5{
  /*text-xl*/
}

a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

main p, main li {
  font-family: "Nimbus Sans", sans-serif;
  font-size: 1.063rem;
  font-weight: 300;
  --tw-text-opacity: 1;
  color: rgb(30 30 29 / var(--tw-text-opacity));
}

main strong, main b {
  font-weight: 700 !important;
}

main em, main i:not([class]) {
  font-style: italic;
}

main p, main ul, main ol {
  margin-bottom: 0.688rem;
}

main ul{
  list-style-type: disc;
  padding-left: 1.75rem;
}

main ol{
  list-style-type: decimal;
  padding-left: 1.75rem;
}

iframe {
  width: 100%;
}

sup, sub {
  font-size: 65%;
  font-weight: 300;
}

.page-content {
  grid-auto-flow: column;
}

.page-content .content {
  position: relative;
}

.page-content a:not([class]) {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: #63AEB5;
          text-decoration-color: #63AEB5;
}

.page-content a:not([class]):hover {
  --tw-text-opacity: 1;
  color: rgb(99 174 181 / var(--tw-text-opacity));
}

.caption {
  font-family: "Nimbus Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 300;
}

.kicker {
  font-family: "Nimbus Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

/* base.css */

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.75rem;
  padding-left: 1.75rem;
}

@media (min-width: 100%) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1256px) {
  .container {
    max-width: 1256px;
  }
}

.announcements {
  position: relative;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  line-height: 1.25;
}

.announcements .close {
  position: absolute;
  top: 50%;
  right: 0.813rem;
  margin-top: -9px;
}

@media (min-width: 1024px) {
  .announcements .close {
    right: 2rem;
  }
}

.btn {
  display: inline-block !important;
  border-radius: 9999px !important;
  border-width: 1.5px !important;
  border-style: solid !important;
  padding-left: 1.875rem !important;
  padding-right: 1.875rem !important;
  padding-top: 0.719rem !important;
  padding-bottom: 0.719rem !important;
  text-align: center !important;
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
  font-weight: 700 !important;
  line-height: 1 !important;
  -webkit-text-decoration-line: none !important;
          text-decoration-line: none !important;
}

.btn.outline-black {
  --tw-border-opacity: 1;
  border-color: rgb(30 30 29 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(30 30 29 / var(--tw-text-opacity));
}

.btn.outline-white {
  border-width: 1.5px;
  border-style: solid;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.btn.block-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(30 30 29 / var(--tw-text-opacity));
}

.btn.block-black {
  --tw-border-opacity: 1;
  border-color: rgb(30 30 29 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 29 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.btn.block-aqua {
  --tw-border-opacity: 1;
  border-color: rgb(99 174 181 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(99 174 181 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.btn.sm {
  padding-left: 1.063rem !important;
  padding-right: 1.063rem !important;
  padding-top: 0.563rem !important;
  padding-bottom: 0.563rem !important;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  font-weight: 400 !important;
  line-height: 1 !important;
}

.btn-link {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 700;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.icon-wrap {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.icon-wrap:hover .icon-circle-arrow {
  justify-content: flex-end;
}

.icon-circle-arrow {
  display: flex;
  height: 3.125rem;
  width: 3.125rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 29 / var(--tw-bg-opacity));
  text-align: center;
}

.icon-circle-arrow:hover {
  justify-content: flex-end;
}

.icon-circle-arrow svg {
  display: inline-block;
  vertical-align: middle;
}

.icon-circle-play {
  display: flex;
  height: 3.75rem;
  width: 3.75rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  text-align: center;
}

.subscription-form {
  position: relative;
}

.subscription-form input[type="email"] {
  width: 100%;
  border-bottom-width: 1px;
  background-color: transparent;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  line-height: 1;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.subscription-form input[type="submit"] {
  position: absolute;
  top: 50%;
  right: 0px;
  margin-top: -0.563rem;
  height: 1.125rem;
  width: 1.438rem;
  cursor: pointer;
  overflow: hidden;
  background-image: url('./img/icons/arrow-to-right.svg');
  background-repeat: no-repeat;
  text-indent: -24rem;
}

.page-nav {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

.page-nav .nav-link {
  display: flex;
  width: auto;
  align-items: center;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.page-nav .nav-link .text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  line-height: 1;
}

.page-nav .nav-link .image {
  height: 2.5rem;
  width: 2.5rem;
}

@media (min-width: 768px) {
  .page-nav .nav-link .image {
    height: 3.125rem;
  }

  .page-nav .nav-link .image {
    width: 3.125rem;
  }
}

.page-nav .nav-link .image img {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.page-nav .nav-link:hover .image img {
  --tw-scale-x: 1.25;
  --tw-scale-y: 1.25;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.page-banner .image-wrap {
  position: relative;
  max-height: 9.188rem;
  min-height: 9.188rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  .page-banner .image-wrap {
    max-height: 18.75rem;
  }

  .page-banner .image-wrap {
    min-height: 18.75rem;
  }
}

@media (min-width: 1024px) {
  .page-banner .image-wrap {
    max-height: 28.75rem;
  }

  .page-banner .image-wrap {
    min-height: 28.75rem;
  }
}

.page-banner .image-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  --tw-translate-y: -50%;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/*.page-banner.bleed{
        @apply overflow-x-hidden;
    }*/

.page-banner.bleed .image-wrap {
  width: 100% !important;
}

@media (min-width: 1024px) {
  .page-banner.bleed .image-wrap {
    width: 100vw !important;
  }
}

@media (min-width: 1536px) {
  .page-banner.bleed .image-wrap {
    width: 100% !important;
  }
}

.page-banner.bleed .container {
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 1536px) {
  .page-banner.bleed .container {
    max-height: 28.75rem;
  }

  .page-banner.bleed .container {
    min-height: 28.75rem;
  }

  .page-banner.bleed .container {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}

.page-banner .image-wrap.full {
  max-height: 15.625rem;
  min-height: 15.625rem;
}

@media (min-width: 768px) {
  .page-banner .image-wrap.full {
    max-height: 25rem;
  }

  .page-banner .image-wrap.full {
    min-height: 25rem;
  }
}

@media (min-width: 1024px) {
  .page-banner .image-wrap.full {
    max-height: 34.375rem;
  }

  .page-banner .image-wrap.full {
    min-height: 34.375rem;
  }
}

.page-banner .image-wrap.auto {
  max-height: -webkit-min-content !important;
  max-height: -moz-min-content !important;
  max-height: min-content !important;
  min-height: 0px !important;
}

@media (min-width: 1024px) {
  .page-banner .image-wrap.auto {
    max-height: 43.75rem !important;
  }

  .page-banner .image-wrap.auto {
    min-height: 43.75rem !important;
  }
}

.page-banner .image-wrap.auto img {
  position: relative !important;
  top: inherit !important;
  left: inherit !important;
  width: 100% !important;
  --tw-translate-y: 0px !important;
  --tw-translate-x: 0px !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

@media (min-width: 1024px) {
  .page-banner .image-wrap.auto img {
    position: absolute !important;
  }

  .page-banner .image-wrap.auto img {
    top: 50% !important;
  }

  .page-banner .image-wrap.auto img {
    left: 50% !important;
  }

  .page-banner .image-wrap.auto img {
    height: 100% !important;
  }

  .page-banner .image-wrap.auto img {
    --tw-translate-y: -50% !important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
  }

  .page-banner .image-wrap.auto img {
    --tw-translate-x: -50% !important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
  }

  .page-banner .image-wrap.auto img {
    -o-object-fit: cover !important;
       object-fit: cover !important;
  }

  .page-banner .image-wrap.auto img {
    -o-object-position: center !important;
       object-position: center !important;
  }
}

.page-banner .container {
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 1024px) {
  .page-banner .container {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}

.page-banner .container .image-caption {
  position: absolute;
  top: 100%;
  right: 1.75rem;
  padding-top: 1.25rem;
}

.call-to-action {
  margin-left: -1.75rem;
  margin-right: -1.75rem;
  display: flex;
  min-height: 21.875rem;
  flex-direction: column-reverse;
  gap: 0px;
}

@media (min-width: 768px) {
  .call-to-action {
    margin-left: 0px;
    margin-right: 0px;
  }

  .call-to-action {
    display: grid;
  }

  .call-to-action {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

.call-to-action .text {
  grid-column: span 1 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
}

@media (min-width: 768px) {
  .call-to-action .text {
    grid-column: span 7 / span 7;
  }
}

@media (min-width: 1024px) {
  .call-to-action .text {
    grid-column: span 8 / span 8;
  }

  .call-to-action .text {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .call-to-action .text {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.call-to-action .text p {
  font-size: 1.313rem;
  line-height: 1.625;
}

.call-to-action .image {
  grid-column: span 1 / span 1;
}

@media (min-width: 768px) {
  .call-to-action .image {
    grid-column: span 5 / span 5;
  }
}

@media (min-width: 1024px) {
  .call-to-action .image {
    grid-column: span 4 / span 4;
  }
}

.call-to-action .image img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* Image Widget */

.image-widget img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: auto;
  width: auto;
  max-width: 100%;
}

/* CTA Widget */

.cta-widget {
  margin-left: -1.75rem;
  margin-right: -1.75rem;
  padding: 2.5rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .cta-widget {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.cta-widget .widget-title, .cta-widget p {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.cta-widget p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.cta-widget p a {
  -webkit-text-decoration-color: #63AEB5;
          text-decoration-color: #63AEB5;
}

.cta-widget p a:hover {
  --tw-text-opacity: 1;
  color: rgb(99 174 181 / var(--tw-text-opacity));
}

/* Schedule Widget */

.border-block-widget, .schedule-widget {
  border-width: 5px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(30 30 29 / var(--tw-border-opacity));
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .border-block-widget, .schedule-widget {
    padding: 2.5rem;
  }
}

.border-block-widget ul,
    .schedule-widget ul{
  list-style-type: none;
  margin-bottom: 0px;
  padding-left: 0px;
}

.border-block-widget ul li, .border-block-widget p, .schedule-widget ul li {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(30 30 29 / var(--tw-text-opacity));
}

.border-block-widget ul li:last-child, .border-block-widget p:last-child, .schedule-widget ul li:last-child {
  margin-bottom: 0px;
}

.border-block-widget ul li a, .border-block-widget p a, .schedule-widget ul li a {
  -webkit-text-decoration-color: #63AEB5;
          text-decoration-color: #63AEB5;
}

.border-block-widget ul li a:hover, .border-block-widget p a:hover, .schedule-widget ul li a:hover {
  --tw-text-opacity: 1;
  color: rgb(99 174 181 / var(--tw-text-opacity));
}

.border-block-widget ul li span, .schedule-widget ul li span {
  display: block;
}

.border-block-widget ul li span.date, .schedule-widget ul li span.date {
  --tw-text-opacity: 1;
  color: rgb(99 174 181 / var(--tw-text-opacity));
}

.text-widget p, li {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-widget a {
  -webkit-text-decoration-color: #63AEB5;
          text-decoration-color: #63AEB5;
}

.text-widget a:hover {
  --tw-text-opacity: 1;
  color: rgb(99 174 181 / var(--tw-text-opacity));
}

table td, table th {
  padding: 0.375rem;
  vertical-align: top;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
}

table td:first-child, table th:first-child {
  padding-left: 0px;
}

table td:last-child, table th:last-child {
  padding-right: 0px;
}

.text-block p,
    .text-block li{
  font-weight: 300;
}

.text-block {
  padding: 1.875rem;
}

@media (min-width: 1024px) {
  .text-block {
    padding: 2rem;
  }

  .text-block {
    padding-top: 2rem;
  }

  .text-block {
    padding-right: 2rem;
  }

  .text-block {
    padding-bottom: 2rem;
  }
}

@media (min-width: 1280px) {
  .text-block {
    padding-left: 0px;
  }
}

.text-block.float {
  position: relative;
  left: -1.875rem;
  bottom: inherit;
  margin-top: -6rem;
  width: calc(100% + 2rem);
}

@media (min-width: 768px) {
  .text-block.float {
    margin-top: -12rem;
  }
}

@media (min-width: 1024px) {
  .text-block.float {
    position: absolute;
  }

  .text-block.float {
    left: -2rem;
  }

  .text-block.float {
    bottom: 100%;
  }

  .text-block.float {
    margin-top: 0px;
  }
}

@media (min-width: 1280px) {
  .text-block.float {
    left: 0px;
  }
}

.text-block.on-full {
  width: calc(100% + 2rem);
}

@media (min-width: 1024px) {
  .text-block.on-full {
    width: calc(55% + 2rem);
  }
}

.text-block.auto.on-full {
  width: calc(100% + 2rem);
}

@media (min-width: 1024px) {
  .text-block.auto.on-full {
    width: calc(55% + 2rem);
  }
}

.text-block.auto {
  position: relative;
  bottom: 0px;
  left: -1.875rem;
  width: calc(100% + 2rem);
}

@media (min-width: 1280px) {
  .text-block.auto {
    left: -0px;
  }
}

.card {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.card.v1 {
  display: flex;
  flex-direction: column;
}

.card.v1:hover {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 768px) {
  .card.v1 {
    flex-direction: row;
  }
}

.card.v1 .image {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 15rem;
  overflow: hidden;
}

.card.v1 .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card.v1 .details {
  flex-basis: auto;
  padding: 2rem;
  padding-right: 1.75rem;
}

.card.v1 .kicker {
  display: block;
}

.card.v2 .image {
  position: relative;
  height: 12.5rem;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .card.v2 .image {
    height: 18.75rem;
  }
}

.card.v2 .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  --tw-translate-x: -50%;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card.v2 .details {
  position: relative;
  margin-top: -3.5rem;
  width: 100%;
  max-width: 80%;
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 238 / var(--tw-bg-opacity));
  padding-left: 1.75rem;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 768px) {
  .card.v2 .details {
    padding-left: 0px;
  }
}

@media (min-width: 1024px) {
  .card.v2 .details {
    max-width: 62.5%;
  }
}

.card.v2 .details .icon-circle-arrow {
  position: absolute;
  left: 100%;
  top: 5rem;
}

.card.v3 .image {
  position: relative;
  display: block;
  height: 13.375rem;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.card.v3 .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  --tw-translate-x: -50%;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card.v3 .image.art {
  height: 17.25rem !important;
}

.card.v3 .image .icon-circle-play {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  --tw-translate-x: -50%;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.card.v3 .details {
  padding-top: 0.75rem;
}

@media (min-width: 768px) {
  .card.v3 .details {
    padding-top: 1.25rem;
  }
}

.card.v3 .details p {
  margin-bottom: 0px;
}

.card.v4 > .wrapper {
  margin-right: 0px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  -moz-column-gap: 7%;
       column-gap: 7%;
}

@media (min-width: 768px) {
  .card.v4 > .wrapper {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .card.v4 > .wrapper {
    margin-right: 6.438rem;
  }
}

.card.v4 .details {
  flex-basis: 100%;
}

@media (min-width: 768px) {
  .card.v4 .details {
    flex-basis: 59.5%;
  }
}

.card.v4 .image {
  margin-left: -1.75rem;
  margin-right: -1.75rem;
  margin-bottom: 1.875rem;
  flex-basis: 100%;
}

@media (min-width: 768px) {
  .card.v4 .image {
    margin-bottom: 0px;
  }

  .card.v4 .image {
    flex-basis: 36.5%;
  }
}

.card.v4 .divider {
  width: 100%;
}

@media (min-width: 768px) {
  .card.v4 .divider {
    width: calc(62% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card.v4 .divider {
    width: calc(57% - 2rem);
  }
}

.card.v5 > .wrapper {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-items: flex-start;
  -moz-column-gap: 8%;
       column-gap: 8%;
}

@media (min-width: 768px) {
  .card.v5 > .wrapper {
    flex-direction: row;
  }
}

.card.v5.full > .wrapper {
  -moz-column-gap: 0px;
       column-gap: 0px;
}

.card.v5 .details {
  flex-basis: 62.2%;
}

.card.v5.full .details {
  flex-basis: 100%;
}

.card.v5 .image {
  margin-bottom: 1.25rem;
  flex-basis: 29.8%;
  padding-top: 0px;
}

@media (min-width: 768px) {
  .card.v5 .image {
    margin-bottom: 0px;
  }

  .card.v5 .image {
    padding-top: 2.5rem;
  }
}

.card.v6 .image {
  margin-bottom: 1.25rem;
  display: flex;
  height: 17.25rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 3.5rem;
}

.card.v6 .image:hover {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.card.v8 .details {
  position: relative;
  padding-top: 1.25rem;
  padding-right: 2.75rem;
}

.card.v8 .details .icon-circle-arrow {
  position: absolute;
  right: 0px;
  top: 1.25rem;
  z-index: 2;
  height: 2.5rem;
  width: 2.5rem;
}

.card.v8 .details .icon-circle-arrow svg {
  width: 1.125rem;
}

.intro-text p, .intro-text li {
  font-size: 1.063rem;
}

@media (min-width: 768px) {
  .intro-text p, .intro-text li {
    font-size: 1.313rem;
  }
}

.intro-text p,
    .intro-text li{
  /*text-2xl*/
}

.intro-text p, .intro-text ul, .intro-text ol {
  margin-bottom: 0.875rem;
}

.post.v1 {
  display: flex;
}

.post.v1 .image {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 5rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  .post.v1 .image {
    flex-basis: 7.5rem;
  }
}

.post.v1 .details {
  flex-basis: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.post.v1 .link {
  display: flex;
  align-items: center;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.post.v1 .link svg {
  margin-left: 0.625rem;
}

.post.v2 {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .post.v2 {
    flex-direction: row;
  }
}

.post.v2 .image {
  margin-bottom: 1.25rem;
  max-height: 8rem;
  max-width: 12rem;
  flex-basis: 12rem;
}

@media (min-width: 1024px) {
  .post.v2 .image {
    margin-bottom: 0px;
  }
}

.post.v2 .details {
  flex-basis: auto;
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 1024px) {
  .post.v2 .details {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.post.v2 a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.tabs {
  position: relative;
}

.tabs ul{
  list-style-type: none;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 10;
  margin: 0px;
  display: none;
  width: 100%;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 238 / var(--tw-bg-opacity));
  padding: 1.375rem;
  line-height: 1;
}

@media (min-width: 1024px) {
  .tabs ul {
    position: relative;
  }

  .tabs ul {
    top: inherit;
  }

  .tabs ul {
    left: inherit;
  }

  .tabs ul {
    display: flex;
  }

  .tabs ul {
    flex-wrap: wrap;
  }

  .tabs ul {
    gap: 1.75rem;
  }

  .tabs ul {
    border-radius: 0px;
  }

  .tabs ul {
    background-color: transparent;
  }

  .tabs ul {
    padding: 0px;
  }
}

.tabs ul a {
  position: relative !important;
  display: block !important;
  padding-top: 0.313rem !important;
  padding-bottom: 0.313rem !important;
  font-size: 1.063rem !important;
  font-weight: 700 !important;
  line-height: 1 !important;
  letter-spacing: 0.1em !important;
  -webkit-text-decoration-line: none !important;
          text-decoration-line: none !important;
}

@media (min-width: 1024px) {
  .tabs ul a {
    padding-top: 0px !important;
  }

  .tabs ul a {
    padding-bottom: 0.625rem !important;
  }

  .tabs ul a {
    font-size: 1.375rem !important;
  }
}

.tabs ul a{
  /* text-2xl */
}

.tabs ul a:hover:after,
    .tabs ul a.active:after{
  content: '';
  display: none;
}

@media (min-width: 1024px) {
  .tabs ul a:hover:after, .tabs ul a.active:after {
    position: absolute;
  }

  .tabs ul a:hover:after, .tabs ul a.active:after {
    bottom: 0px;
  }

  .tabs ul a:hover:after, .tabs ul a.active:after {
    left: 0px;
  }

  .tabs ul a:hover:after, .tabs ul a.active:after {
    display: block;
  }

  .tabs ul a:hover:after, .tabs ul a.active:after {
    height: 4px;
  }

  .tabs ul a:hover:after, .tabs ul a.active:after {
    width: 100%;
  }

  .tabs ul a:hover:after, .tabs ul a.active:after {
    --tw-bg-opacity: 1;
    background-color: rgb(99 174 181 / var(--tw-bg-opacity));
  }
}

.tabs ul.xl li a {
  font-size: 1.063rem !important;
}

@media (min-width: 1024px) {
  .tabs ul.xl li a {
    padding-bottom: 0.5rem !important;
  }

  .tabs ul.xl li a {
    font-size: 1.125rem !important;
    line-height: 1.75rem !important;
  }
}

.tabs ul.xl li a{
  /* text-xl */
}

.tabs ul.xl a:hover:after, .tabs ul.xl a.active:after {
  height: 2px !important;
}

.tabs .toggle {
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(30 30 29 / var(--tw-border-opacity));
  background-image: url('./img/icons/dropdown-arrow.svg');
  background-size: 16px 10px;
  background-position: 98% center;
  background-repeat: no-repeat;
  padding-top: 0.719rem;
  padding-bottom: 0.719rem;
  padding-left: 1.375rem;
  padding-right: 3.125rem;
  font-size: 1.063rem;
  font-weight: 700;
  line-height: 1;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.gallery-modal {
  position: fixed;
  right: -100%;
  top: 0px;
  z-index: 50;
  height: 100vh;
  width: 100%;
  max-width: 1000px;
}

.gallery-modal.show {
  right: 0px;
}

.gallery-modal {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.gallery-modal .inner {
  position: relative;
  max-height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.gallery-modal .inner::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.gallery-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
}

@media (min-width: 768px) {
  .gallery-modal .close-modal {
    top: 4.063rem;
  }

  .gallery-modal .close-modal {
    right: 3rem;
  }
}

@media (min-width: 1024px) {
  .gallery-modal .close-modal {
    right: 9rem;
  }
}

.gallery-modal .text p, .gallery-modal .text li {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.gallery-modal .text a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: #63AEB5;
          text-decoration-color: #63AEB5;
}

.gallery-modal .text a:hover {
  --tw-text-opacity: 1;
  color: rgb(99 174 181 / var(--tw-text-opacity));
}

.blockquote {
  position: relative;
  padding-bottom: 1rem;
}

.blockquote:before{
  content: '';
  position: absolute;
  top: 0px;
  left: -4rem;
  z-index: 2;
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 9999px;
  border-width: 0.313rem;
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 29 / var(--tw-bg-opacity));
  background-image: url('./img/icons/quote.svg');
  background-size: 20px 17px;
  background-position: center;
  background-repeat: no-repeat;
}

.blockquote:after{
  content: '';
  position: absolute;
  top: -0.063rem;
  left: -4.063rem;
  z-index: 1;
  height: 3.25rem;
  width: 3.25rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 29 / var(--tw-bg-opacity));
}

.carousel.v1 .owl-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel.v1 img {
  max-height: 5.5rem;
}

.carousel.v2 .owl-next {
  display: none;
}

.carousel .owl-prev {
  position: absolute;
  top: 50%;
  left: -3rem;
  height: 1.25rem;
  width: 1.875rem;
}

.carousel .owl-nav button {
  background-image: none !important;
  padding: 0px !important;
}

.carousel .owl-nav button:hover {
  background-color: transparent !important;
  background-image: none !important;
}

.carousel .owl-nav button svg {
  height: 100%;
  width: auto;
}

/* components/announcements.css */

/* components/buttons.css */

.relative {
  position: relative;
}

.z-20 {
  z-index: 20;
}

.m-0 {
  margin: 0px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.mx-2\.5 {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.-mx-10 {
  margin-left: -2.5rem;
  margin-right: -2.5rem;
}

.-mx-7 {
  margin-left: -1.75rem;
  margin-right: -1.75rem;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mr-2\.5 {
  margin-right: 0.625rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-1\.5 {
  margin-bottom: 0.375rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mb-3\.5 {
  margin-bottom: 0.875rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-9 {
  margin-bottom: 2.25rem;
}

.mb-2\.5 {
  margin-bottom: 0.625rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-0\.5 {
  margin-bottom: 0.125rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.-mt-24 {
  margin-top: -6rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-16 {
  margin-top: 4rem;
}

.ml-2\.5 {
  margin-left: 0.625rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mb-11 {
  margin-bottom: 2.75rem;
}

.ml-\[3\.75rem\] {
  margin-left: 3.75rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.mb-14 {
  margin-bottom: 3.5rem;
}

.mt-0 {
  margin-top: 0px;
}

.-mt-60 {
  margin-top: -15rem;
}

.mt-\[3\.75rem\] {
  margin-top: 3.75rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mb-\[2\.125rem\] {
  margin-bottom: 2.125rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.contents {
  display: contents;
}

.hidden {
  display: none;
}

.h-\[28\.75rem\] {
  height: 28.75rem;
}

.h-\[18\.75rem\] {
  height: 18.75rem;
}

.h-auto {
  height: auto;
}

.w-min {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.w-full {
  width: 100%;
}

.w-\[11\.875rem\] {
  width: 11.875rem;
}

.w-\[20rem\] {
  width: 20rem;
}

.w-\[9\.375rem\] {
  width: 9.375rem;
}

.w-\[18\.75rem\] {
  width: 18.75rem;
}

.min-w-\[12\.125rem\] {
  min-width: 12.125rem;
}

.max-w-max {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.max-w-full {
  max-width: 100%;
}

.max-w-\[8\.75rem\] {
  max-width: 8.75rem;
}

.max-w-\[243px\] {
  max-width: 243px;
}

.max-w-\[22\.5rem\] {
  max-width: 22.5rem;
}

.grow-0 {
  flex-grow: 0;
}

.basis-full {
  flex-basis: 100%;
}

.basis-\[17\.5\%\] {
  flex-basis: 17.5%;
}

.basis-auto {
  flex-basis: auto;
}

.basis-\[21\%\] {
  flex-basis: 21%;
}

.basis-6\/12 {
  flex-basis: 50%;
}

.table-auto {
  table-layout: auto;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-\[8\.2\%\] {
  gap: 8.2%;
}

.gap-\[5\.25\%\] {
  gap: 5.25%;
}

.gap-4 {
  gap: 1rem;
}

.gap-\[3\.125rem\] {
  gap: 3.125rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-\[3\.5\%\] {
  gap: 3.5%;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-\[1\.875rem\] {
  gap: 1.875rem;
}

.gap-y-10 {
  row-gap: 2.5rem;
}

.gap-y-0 {
  row-gap: 0px;
}

.gap-x-4 {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.gap-y-7 {
  row-gap: 1.75rem;
}

.gap-y-9 {
  row-gap: 2.25rem;
}

.gap-x-0 {
  -moz-column-gap: 0px;
       column-gap: 0px;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-full {
  border-radius: 9999px;
}

.border-t-\[5px\] {
  border-top-width: 5px;
}

.border-t-2 {
  border-top-width: 2px;
}

.border-t {
  border-top-width: 1px;
}

.border-t-\[0\.375rem\] {
  border-top-width: 0.375rem;
}

.border-soft-black {
  --tw-border-opacity: 1;
  border-color: rgb(30 30 29 / var(--tw-border-opacity));
}

.border-mid-gray {
  --tw-border-opacity: 1;
  border-color: rgb(188 188 184 / var(--tw-border-opacity));
}

.border-off-white {
  --tw-border-opacity: 1;
  border-color: rgb(242 242 238 / var(--tw-border-opacity));
}

.border-aqua {
  --tw-border-opacity: 1;
  border-color: rgb(99 174 181 / var(--tw-border-opacity));
}

.bg-off-white {
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 238 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-soft-black {
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 29 / var(--tw-bg-opacity));
}

.bg-aqua {
  --tw-bg-opacity: 1;
  background-color: rgb(99 174 181 / var(--tw-bg-opacity));
}

.bg-light-gray {
  --tw-bg-opacity: 1;
  background-color: rgb(231 231 223 / var(--tw-bg-opacity));
}

.bg-aqua-pattern {
  background-image: url('./img/background/aqua-bg-pattern.svg');
}

.bg-\[url\(\'\.\/img\/placeholder\/definition-graphic-2x\.svg\'\)\] {
  background-image: url('./img/placeholder/definition-graphic-2x.svg');
}

.bg-soft-black-pattern {
  background-image: url('./img/background/soft-black-bg-pattern.svg');
}

.bg-\[url\(\'\.\/img\/background\/black-dot\.svg\'\)\] {
  background-image: url('./img/background/black-dot.svg');
}

.bg-contain {
  background-size: contain;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.p-5 {
  padding: 1.25rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.px-16 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pt-\[4\.625rem\] {
  padding-top: 4.625rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-0 {
  padding-bottom: 0px;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pb-16 {
  padding-bottom: 4rem;
}

.pt-\[14\.375rem\] {
  padding-top: 14.375rem;
}

.pl-0 {
  padding-left: 0px;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.font-normal {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

.uppercase {
  text-transform: uppercase;
}

.normal-case {
  text-transform: none;
}

.leading-none {
  line-height: 1;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-off-white {
  --tw-text-opacity: 1;
  color: rgb(242 242 238 / var(--tw-text-opacity));
}

.text-aqua {
  --tw-text-opacity: 1;
  color: rgb(99 174 181 / var(--tw-text-opacity));
}

.no-underline {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.outline-white {
  outline-color: #fff;
}

.outline-black {
  outline-color: #000;
}

.type-none{
  list-style-type: none;
}

.type-none li {
  line-height: 2;
}

.text-1_688 {
  font-size: 1.688rem;
}

@media (min-width: 768px) {
  .md\:my-12 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .md\:my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .md\:mx-2\.5 {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
  }

  .md\:mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .md\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .md\:my-20 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .md\:mb-24 {
    margin-bottom: 6rem;
  }

  .md\:mb-0 {
    margin-bottom: 0px;
  }

  .md\:mb-16 {
    margin-bottom: 4rem;
  }

  .md\:mb-20 {
    margin-bottom: 5rem;
  }

  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:mr-2\.5 {
    margin-right: 0.625rem;
  }

  .md\:mr-2 {
    margin-right: 0.5rem;
  }

  .md\:mb-10 {
    margin-bottom: 2.5rem;
  }

  .md\:mb-\[3\.75rem\] {
    margin-bottom: 3.75rem;
  }

  .md\:mb-14 {
    margin-bottom: 3.5rem;
  }

  .md\:mb-12 {
    margin-bottom: 3rem;
  }

  .md\:mt-12 {
    margin-top: 3rem;
  }

  .md\:mb-5 {
    margin-bottom: 1.25rem;
  }

  .md\:block {
    display: block;
  }

  .md\:h-\[23\.75rem\] {
    height: 23.75rem;
  }

  .md\:w-auto {
    width: auto;
  }

  .md\:w-\[23\.75rem\] {
    width: 23.75rem;
  }

  .md\:max-w-\[54\.5\%\] {
    max-width: 54.5%;
  }

  .md\:max-w-\[45\.9\%\] {
    max-width: 45.9%;
  }

  .md\:basis-\[45\.9\%\] {
    flex-basis: 45.9%;
  }

  .md\:basis-\[54\.5\%\] {
    flex-basis: 54.5%;
  }

  .md\:basis-\[40\%\] {
    flex-basis: 40%;
  }

  .md\:basis-\[41\.5\%\] {
    flex-basis: 41.5%;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:gap-\[8\.2\%\] {
    gap: 8.2%;
  }

  .md\:gap-4 {
    gap: 1rem;
  }

  .md\:gap-0 {
    gap: 0px;
  }

  .md\:gap-9 {
    gap: 2.25rem;
  }

  .md\:gap-x-4 {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }

  .md\:gap-y-9 {
    row-gap: 2.25rem;
  }

  .md\:gap-x-\[9\%\] {
    -moz-column-gap: 9%;
         column-gap: 9%;
  }

  .md\:gap-x-\[4\%\] {
    -moz-column-gap: 4%;
         column-gap: 4%;
  }

  .md\:gap-x-8 {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }

  .md\:gap-y-11 {
    row-gap: 2.75rem;
  }

  .md\:gap-x-\[1\.875rem\] {
    -moz-column-gap: 1.875rem;
         column-gap: 1.875rem;
  }

  .md\:gap-y-\[3\.375rem\] {
    row-gap: 3.375rem;
  }

  .md\:p-16 {
    padding: 4rem;
  }

  .md\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .md\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .md\:py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .md\:pt-16 {
    padding-top: 4rem;
  }

  .md\:pb-20 {
    padding-bottom: 5rem;
  }

  .md\:pb-28 {
    padding-bottom: 7rem;
  }

  .md\:pt-36 {
    padding-top: 9rem;
  }

  .md\:pt-0 {
    padding-top: 0px;
  }

  .md\:pt-28 {
    padding-top: 7rem;
  }

  .md\:pt-20 {
    padding-top: 5rem;
  }

  .md\:pb-14 {
    padding-bottom: 3.5rem;
  }

  .md\:pt-10 {
    padding-top: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .lg\:-mt-80 {
    margin-top: -20rem;
  }

  .lg\:mt-0 {
    margin-top: 0px;
  }

  .lg\:-mt-\[14rem\] {
    margin-top: -14rem;
  }

  .lg\:ml-0 {
    margin-left: 0px;
  }

  .lg\:-mt-48 {
    margin-top: -12rem;
  }

  .lg\:mt-\[6\.25rem\] {
    margin-top: 6.25rem;
  }

  .lg\:-mt-\[6\.25rem\] {
    margin-top: -6.25rem;
  }

  .lg\:mb-\[22\.063rem\] {
    margin-bottom: 22.063rem;
  }

  .lg\:block {
    display: block;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:w-1\/5 {
    width: 20%;
  }

  .lg\:max-w-\[66\%\] {
    max-width: 66%;
  }

  .lg\:max-w-none {
    max-width: none;
  }

  .lg\:basis-\[17\.5\%\] {
    flex-basis: 17.5%;
  }

  .lg\:basis-\[55\%\] {
    flex-basis: 55%;
  }

  .lg\:basis-\[37\%\] {
    flex-basis: 37%;
  }

  .lg\:basis-4\/5 {
    flex-basis: 80%;
  }

  .lg\:basis-1\/6 {
    flex-basis: 16.666667%;
  }

  .lg\:basis-\[41\.7\%\] {
    flex-basis: 41.7%;
  }

  .lg\:basis-\[54\.8\%\] {
    flex-basis: 54.8%;
  }

  .lg\:basis-\[74\.4\%\] {
    flex-basis: 74.4%;
  }

  .lg\:basis-\[41\.5\%\] {
    flex-basis: 41.5%;
  }

  .lg\:basis-\[29\.9\%\] {
    flex-basis: 29.9%;
  }

  .lg\:basis-\[65\.7\%\] {
    flex-basis: 65.7%;
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:justify-end {
    justify-content: flex-end;
  }

  .lg\:gap-\[8\%\] {
    gap: 8%;
  }

  .lg\:gap-20 {
    gap: 5rem;
  }

  .lg\:gap-11 {
    gap: 2.75rem;
  }

  .lg\:gap-\[3\.5\%\] {
    gap: 3.5%;
  }

  .lg\:gap-\[4\.4\%\] {
    gap: 4.4%;
  }

  .lg\:gap-9 {
    gap: 2.25rem;
  }

  .lg\:gap-y-14 {
    row-gap: 3.5rem;
  }

  .lg\:gap-x-\[1\.875rem\] {
    -moz-column-gap: 1.875rem;
         column-gap: 1.875rem;
  }

  .lg\:gap-x-4 {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }

  .lg\:gap-y-9 {
    row-gap: 2.25rem;
  }

  .lg\:bg-transparent {
    background-color: transparent;
  }

  .lg\:bg-illustration-knife {
    background-image: url('./img/background/Illustration-Knife-TNT.svg');
  }

  .lg\:bg-illustration-vice {
    background-image: url('./img/background/Illustration-vice-sketch.svg');
  }

  .lg\:bg-bird-hat {
    background-image: url('./img/background/hero-image.svg');
  }

  .lg\:bg-illustration-pale {
    background-image: url('./img/background/Illustration-pale.svg');
  }

  .lg\:bg-auto {
    background-size: auto;
  }

  .lg\:bg-\[length\:160px_auto\] {
    background-size: 160px auto;
  }

  .lg\:bg-fixed {
    background-attachment: fixed;
  }

  .lg\:bg-\[right_10rem_bottom_30rem\] {
    background-position: right 10rem bottom 30rem;
  }

  .lg\:bg-\[right_5rem_top_5rem\] {
    background-position: right 5rem top 5rem;
  }

  .lg\:bg-center {
    background-position: center;
  }

  .lg\:bg-\[right_15rem_bottom_0rem\] {
    background-position: right 15rem bottom 0rem;
  }

  .lg\:bg-no-repeat {
    background-repeat: no-repeat;
  }

  .lg\:px-36 {
    padding-left: 9rem;
    padding-right: 9rem;
  }

  .lg\:pt-5 {
    padding-top: 1.25rem;
  }

  .lg\:pb-0 {
    padding-bottom: 0px;
  }

  .lg\:pt-36 {
    padding-top: 9rem;
  }

  .lg\:text-right {
    text-align: right;
  }
}

@media (min-width: 1280px) {
  .xl\:basis-4\/5 {
    flex-basis: 80%;
  }
}