/* components/announcements.css */
@layer components{
    .announcements{
        @apply py-3 text-base leading-tight relative;
    }
    .announcements .close{
        @apply absolute top-[50%] right-[0.813rem] lg:right-8 mt-[-9px];
    }
}