@layer components{
    .blockquote{
        @apply relative pb-4;
    }
    .blockquote:before{
        content: '';
        @apply absolute top-0 -left-16 h-[3.125rem] w-[3.125rem] z-[2] border-[0.313rem] rounded-full bg-[length:20px_17px] bg-soft-black bg-center bg-no-repeat bg-[url('./img/icons/quote.svg')];
    }
    .blockquote:after{
        content: '';
        @apply absolute -top-[0.063rem] -left-[4.063rem] h-[3.25rem] w-[3.25rem]  rounded-full z-[1] bg-soft-black;
    }
}