/* components/buttons.css */
@layer components{
    
    .btn{
        @apply inline-block text-lg text-center font-bold px-[1.875rem] py-[0.719rem] leading-none border-solid border-[1.5px] rounded-full no-underline !important;
    }

    .btn.outline-black{
        @apply text-soft-black border-soft-black;
    }
    .btn.outline-white{
        @apply text-lg border-solid border-[1.5px];
    }

    .btn.block-white{
        @apply border-white bg-white text-soft-black;
    }
    .btn.block-black{
        @apply text-white bg-soft-black border-soft-black;
    }
    .btn.block-aqua{
        @apply text-white bg-aqua border-aqua;
    }

    .btn.sm{
        @apply text-sm font-normal leading-none px-[1.063rem] py-[0.563rem] !important;
    }

    .btn-link{
        @apply flex flex-wrap items-center w-auto font-bold no-underline;
    }
}