@layer components{
    .call-to-action{
        @apply flex flex-col-reverse -mx-7 md:mx-0 md:grid md:grid-cols-12 gap-0 min-h-[21.875rem];
    }

    .call-to-action .text{
        @apply flex flex-col justify-center col-span-1 md:col-span-7 lg:col-span-8 p-10 lg:px-16 lg:py-20;
    }

    .call-to-action .text p{
        @apply text-[1.313rem] leading-relaxed;
    }

    .call-to-action .image{
        @apply  col-span-1 md:col-span-5 lg:col-span-4;
    }

    .call-to-action .image img{
        @apply object-cover object-center h-full w-full overflow-hidden;
    }
}