@layer components{
    .card{
        @apply no-underline;
    }

    .card.v1{
        @apply flex flex-col md:flex-row hover:shadow-lg;
    }
    .card.v1 .image{
        @apply basis-[15rem] shrink-0  grow-0 overflow-hidden;
    }
    .card.v1 .image img{
        @apply object-cover object-center h-full w-full;
    }
    .card.v1 .details{
        @apply basis-auto p-8 pr-7; 
    }
    .card.v1 .kicker{
        @apply block;
    }

    .card.v2 .image{
        @apply relative  w-full overflow-hidden h-[12.5rem] lg:h-[18.75rem];
    }
    .card.v2 .image img{
        @apply absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] object-cover object-center h-full w-full;
    }
    .card.v2 .details{
        @apply relative bg-off-white w-full max-w-[80%] pl-7 lg:max-w-[62.5%] md:pl-0 pt-6 pr-6 -mt-14;
    }
    .card.v2 .details .icon-circle-arrow{
        @apply absolute left-full top-20;
    }

    .card.v3 .image{
        @apply block relative no-underline h-[13.375rem];
    }
    .card.v3 .image img{
        @apply absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] object-cover object-center h-full w-full;
    }
    .card.v3 .image.art{
        @apply h-[17.25rem] !important ; 
    }
    .card.v3 .image .icon-circle-play{
        @apply absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] z-[2];
    }
    .card.v3 .details{
        @apply pt-3 md:pt-5;
    }
    .card.v3 .details p{
        @apply mb-0;
    }

    .card.v4 > .wrapper{
        @apply flex items-start flex-col-reverse md:flex-row gap-x-[7%] mr-0 lg:mr-[6.438rem];
    }
    .card.v4 .details{
        @apply basis-full md:basis-[59.5%];
    }
    .card.v4 .image{
        @apply -mx-7 mb-[1.875rem] md:mb-0 basis-full md:basis-[36.5%];
    }
    .card.v4 .divider{
        @apply w-full md:w-[calc(62%-2rem)] lg:w-[calc(57%-2rem)];
    }

    .card.v5 > .wrapper{
        @apply flex flex-wrap items-start flex-col-reverse md:flex-row gap-x-[8%];
    }
    .card.v5.full > .wrapper{
        @apply gap-x-0;
    }
    .card.v5 .details{
        @apply basis-[62.2%];
    }
    .card.v5.full .details{
        @apply basis-full;
    }
    .card.v5 .image{
        @apply basis-[29.8%] pt-0 mb-5 md:mb-0 md:pt-10;
    }

    .card.v6 .image{
        @apply flex flex-wrap items-center justify-center p-14 h-[17.25rem] bg-white mb-5 hover:shadow-lg;
    }

    .card.v8 .details{
        @apply relative pt-5 pr-11;
    }

    .card.v8 .details .icon-circle-arrow{
        @apply absolute z-[2] right-0 top-5 w-10 h-10;
    }
    .card.v8 .details .icon-circle-arrow svg{
        @apply w-[1.125rem];
    }
}