@layer components{
    .carousel.v1 .owl-item{
        @apply flex items-center justify-center;
    }
    .carousel.v1 img{
        @apply max-h-[5.5rem];
    }

    .carousel.v2 .owl-next{
        @apply hidden;
    }

    .carousel .owl-prev{
        @apply absolute top-[50%] -left-12 w-[1.875rem] h-5;
    }
    .carousel .owl-nav button{
        @apply bg-none p-0 hover:bg-none hover:bg-transparent !important;
    }
    .carousel .owl-nav button svg{
        @apply h-full w-auto;
    }
}