@layer components{
    .subscription-form{
        @apply relative;
    }
    .subscription-form input[type="email"]{
        @apply bg-transparent text-base px-0 py-2 leading-none outline-none border-b w-full;
    }
    .subscription-form input[type="submit"]{
        @apply cursor-pointer overflow-hidden absolute top-[50%] right-0 -mt-[0.563rem] w-[1.438rem] h-[1.125rem] -indent-96 bg-no-repeat bg-[url('./img/icons/arrow-to-right.svg')];
    }
}