@layer components{
    .icon-wrap{
        @apply no-underline;
    }

    .icon-wrap:hover .icon-circle-arrow{
        @apply justify-end;
    }
    .icon-circle-arrow{
        @apply flex items-center justify-center bg-soft-black w-[3.125rem] h-[3.125rem] rounded-full text-center hover:justify-end;
    }
    .icon-circle-arrow svg{
        @apply inline-block align-middle;
    }

    .icon-circle-play{
        @apply flex items-center justify-center bg-white w-[3.75rem] h-[3.75rem] rounded-full text-center;
    }
}