@layer components{
    .intro-text p,
    .intro-text li{
        @apply text-[1.063rem] md:text-[1.313rem];/*text-2xl*/
    }

    .intro-text p,
    .intro-text ul,
    .intro-text ol{
        @apply mb-3.5;
    }
}