@layer components{
    .gallery-modal{
        @apply fixed -right-[100%] top-0 z-50 w-full max-w-[1000px] h-screen;
    }
    .gallery-modal.show{
        @apply right-0;
    }
    .gallery-modal{
        @apply text-xl;
    }
    .gallery-modal .inner{
        @apply relative overflow-y-auto max-h-full;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .gallery-modal .inner::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    .gallery-modal .close-modal{
        @apply absolute top-[1.5rem] right-10 md:top-[4.063rem] md:right-12 lg:right-36;
    }

    .gallery-modal .text p,
    .gallery-modal .text li{
        @apply text-sm;
    }
    .gallery-modal .text a{
        @apply decoration-aqua underline hover:text-aqua;
    }
}