@layer components{
    .page-nav{
        @apply py-3.5;
    }

    .page-nav .nav-link{
        @apply w-auto flex items-center no-underline;
    }

    .page-nav .nav-link .text{
        @apply text-xl leading-none font-bold;
    }
    
    .page-nav .nav-link .image{
        @apply h-10 w-10 md:h-[3.125rem] md:w-[3.125rem];
    }
    .page-nav .nav-link .image img{
        @apply transition-transform;
    }
    .page-nav .nav-link:hover .image img{
        @apply scale-125;
    }
}