@layer components{
    .page-banner .image-wrap{
        @apply relative max-h-[9.188rem] min-h-[9.188rem]  md:max-h-[18.75rem] md:min-h-[18.75rem] lg:max-h-[28.75rem] lg:min-h-[28.75rem] overflow-hidden;
    }
    .page-banner .image-wrap img{
        @apply absolute top-[50%] left-[50%] h-full w-full object-cover object-center translate-y-[-50%] translate-x-[-50%];
    }
    /*.page-banner.bleed{
        @apply overflow-x-hidden;
    }*/
    .page-banner.bleed .image-wrap{
        @apply w-full lg:w-screen 2xl:w-full !important;
    }
    .page-banner.bleed .container{
        @apply px-0 2xl:max-h-[28.75rem] 2xl:min-h-[28.75rem] 2xl:px-7;
    }
    .page-banner .image-wrap.full{
        @apply max-h-[15.625rem] min-h-[15.625rem] md:max-h-[25rem] md:min-h-[25rem] lg:max-h-[34.375rem] lg:min-h-[34.375rem];
    }
    .page-banner .image-wrap.auto{
        @apply max-h-min  min-h-0 lg:max-h-[43.75rem] lg:min-h-[43.75rem] !important;
    }
    .page-banner .image-wrap.auto img{
        @apply relative top-[inherit] left-[inherit] translate-y-0 translate-x-0 lg:absolute lg:top-[50%] lg:left-[50%] lg:h-full w-full lg:object-cover lg:object-center lg:translate-y-[-50%] lg:translate-x-[-50%] !important;
    }

    .page-banner .container{
        @apply relative px-0 lg:px-7;
    }

    .page-banner .container .image-caption{
        @apply absolute pt-5 top-[100%] right-[1.75rem];
    }
}