@layer components{
    .post.v1{
        @apply flex;
    }
    .post.v1 .image{
        @apply basis-[5rem] md:basis-[7.5rem] shrink-0  grow-0 overflow-hidden;
    }
    .post.v1 .details{
        @apply basis-auto px-6;
    }
    .post.v1 .link{
        @apply flex items-center no-underline;
    }
    .post.v1 .link svg{
        @apply ml-2.5;
    }

    .post.v2{
        @apply flex flex-col lg:flex-row;
    }
    .post.v2 .image{
        @apply basis-[12rem] max-w-[12rem] max-h-[8rem] mb-5 lg:mb-0;
    }
    .post.v2 .details{
        @apply basis-auto px-0 lg:px-6;
    }
    .post.v2 a{
        @apply no-underline;
    }
}