@layer components{
    table td,
    table th{
        @apply text-lg font-normal p-1.5 align-top;
    }
    table td:first-child,
    table th:first-child{
        @apply pl-0;
    }
    table td:last-child,
    table th:last-child{
        @apply pr-0;
    }
}