@layer components{
    .tabs{
        @apply relative;
    }
    .tabs ul{
        list-style-type: none;
        @apply hidden absolute top-full left-0 z-10 bg-off-white rounded-md w-full p-[1.375rem] lg:rounded-none lg:bg-transparent lg:relative lg:top-[inherit] lg:left-[inherit] lg:flex lg:flex-wrap m-0 lg:p-0 lg:gap-7 leading-none;
    }

    .tabs ul a{
        @apply block relative text-[1.063rem] lg:text-[1.375rem] tracking-widest font-bold leading-none no-underline py-[0.313rem] lg:pt-0 lg:pb-2.5 !important;/* text-2xl */
    }
    .tabs ul a:hover:after,
    .tabs ul a.active:after{
        content: '';
        @apply hidden lg:absolute lg:block lg:bottom-0 lg:left-0 lg:w-full lg:h-[4px] lg:bg-aqua;
    }
    .tabs ul.xl li a{
        @apply text-[1.063rem] lg:text-lg lg:pb-2 !important; /* text-xl */
    }
    .tabs ul.xl a:hover:after,
    .tabs ul.xl a.active:after{
        @apply h-[2px] !important;
    }

    .tabs .toggle{
        @apply text-[1.063rem] font-bold py-[0.719rem] pl-[1.375rem] pr-[3.125rem] border border-soft-black rounded-full no-underline leading-none bg-[length:16px_10px] bg-[98%_center] bg-no-repeat bg-[url('./img/icons/dropdown-arrow.svg')];
    }
}