@layer components{
    .text-block p,
    .text-block li{
        font-weight: 300;
    }
    .text-block{
        @apply p-[1.875rem] lg:p-8 xl:pl-0 lg:pt-8 lg:pr-8 lg:pb-8;
    }
    .text-block.float{
        @apply -left-[1.875rem] relative bottom-[inherit] -mt-24 md:-mt-48 lg:mt-0 lg:-left-8 xl:left-0 lg:absolute lg:bottom-full w-[calc(100%+2rem)];
    }
    .text-block.on-full{
        @apply w-[calc(100%+2rem)] lg:w-[calc(55%+2rem)];
    }
    .text-block.auto.on-full{
        @apply w-[calc(100%+2rem)] lg:w-[calc(55%+2rem)];
    }
    .text-block.auto{
        @apply relative bottom-0 -left-[1.875rem] w-[calc(100%+2rem)] xl:-left-0;
    }
}