@layer components{
    /* Image Widget */
    .image-widget img{
        @apply block mx-auto max-w-full h-auto w-auto;
    }

    /* CTA Widget */
    .cta-widget{
        @apply -mx-7 md:mx-0 p-10 text-white;
    }
    .cta-widget .widget-title,
    .cta-widget p{
        @apply text-white;
    }
    .cta-widget p{
        @apply text-base;
    }
    .cta-widget p a{
        @apply decoration-aqua hover:text-aqua;
    }

    /* Schedule Widget */
    .border-block-widget,
    .schedule-widget{
        @apply px-[1.875rem] py-10 md:p-10 border-[5px] border-solid border-soft-black; 
    }
    .border-block-widget ul,
    .schedule-widget ul{
        list-style-type: none;
        @apply pl-0 mb-0;
    }
    .border-block-widget ul li,
    .border-block-widget p,
    .schedule-widget ul li{
        @apply mb-4 text-base text-soft-black last:mb-0;
    }
    .border-block-widget ul li a,
    .border-block-widget p a,
    .schedule-widget ul li a{
        @apply decoration-aqua hover:text-aqua;
    }
    .border-block-widget ul li span,
    .schedule-widget ul li span{
        @apply block;
    }
    .border-block-widget ul li span.date,
    .schedule-widget ul li span.date{
        @apply text-aqua;
    }

    .text-widget p,li{
        @apply text-lg;
    }
    .text-widget a{
        @apply decoration-aqua hover:text-aqua;
    }
}