/* base.css */
@layer base{
    html{
        @apply font-body text-base;
    }
    body {
        @apply font-body text-soft-black overflow-x-hidden bg-off-white;
    }

    body.menu-shown{
        @apply overflow-hidden h-screen !important;
    }

    .h1,h1{
        @apply text-[2rem] md:text-[2.688rem] leading-tight font-body font-bold text-soft-black mb-1.5; /*text-5xl*/
    }

    .h2,h2{
        @apply text-[2rem] leading-tight font-body font-bold text-soft-black; /*text-4xl*/
    }

    .h3,h3{
        @apply text-[1.563rem] leading-tight font-body font-bold text-soft-black mb-[1.125rem]; /*text-[1.75rem]*/
    }

    .h4,h4{
        @apply text-[1.313rem] leading-tight font-body font-bold text-soft-black; /*text-xl*/
    }

    .h5,h5{
        @apply text-lg leading-tight font-body font-bold text-soft-black; /*text-xl*/
    }

    a{
        @apply underline;
    }

    main p,main li{
        @apply text-[1.063rem] font-body font-light text-soft-black;
    }
    main strong,
    main b{
        @apply font-bold !important;
    }
    main em,
    main i:not([class]){
        @apply italic;
    }
    main p,
    main ul,
    main ol{
        @apply mb-[0.688rem];
    }

    main ul{
        list-style-type: disc;
        @apply pl-7;
    }

    main ol{
        list-style-type: decimal;
        @apply pl-7;
    }

    iframe{
        @apply w-full;
    }

    sup,sub{
        @apply text-[65%] font-light;
    }

    .page-content{
        @apply grid-flow-col;
    }

    .page-content .content{
        @apply relative;
    }

    .page-content a:not([class]){
        @apply decoration-aqua underline hover:text-aqua;
    }

    .callout-text{
        @apply text-[1.313rem] font-body font-light ;
    }

    .caption{
        @apply text-sm font-body font-light ;
    }

    .kicker{
        @apply text-sm uppercase font-body font-bold;
    }
}