@layer base{
    #footer{
        @apply pt-10 pb-9 md:pt-16 md:pb-20;
    }

    #footer .widget-title{
        @apply text-lg font-bold text-off-white;
    }

    #footer .top{
        @apply text-off-white !important;
    }

    #footer .top p,
    #footer .top li{
        @apply text-off-white !important;
    }

    #footer .top ul li{
        @apply text-base font-normal leading-6 mb-4;
    }

    #footer .top p{
        @apply text-base font-normal leading-6 mb-6;
    }

    #footer .menu-links li a{
        @apply no-underline hover:underline;
    }

    #footer .top{
        @apply grid grid-cols-2 gap-[1.875rem] lg:grid-cols-5 lg:gap-2;
    }
    #footer .top .widget:nth-child(3),
    #footer .top .widget:last-child{
        @apply col-span-2 md:col-span-1;
    }
    #footer .top .widget.spacer{
        @apply hidden lg:block;
    }

    #footer .bottom{
        @apply grid grid-cols-1 gap-6 md:gap-10 md:grid-cols-4;
    }

    #footer .bottom .copyright-wrap{
        @apply col-span-1 md:col-span-3;
    }

    #footer .bottom p,
    #footer .bottom li{
        @apply text-mid-gray !important;
    }

    #footer .bottom p,
    #footer .bottom li{
        @apply text-[0.688rem] leading-6;
    }

    #footer .bottom p{
        @apply mb-4;
    }
}