@layer base{
    #header{
        @apply py-4 lg:py-[1.875rem];
    }

    .nav-toggle .close{ @apply hidden; }
    .nav-wrap .nav-toggle svg{
        @apply w-[1.875rem] lg:w-10;
    }
    .nav-wrap.show .nav-toggle svg.open{ @apply hidden; }
    .nav-wrap.show .nav-toggle svg.close{ @apply block text-off-white; }
    .nav-wrap .nav-toggle span.open{ @apply hidden lg:block; }
    .nav-wrap .nav-toggle span.close{ @apply hidden lg:hidden; }
    .nav-wrap.show .nav-toggle span.open{ @apply hidden; }
    .nav-wrap.show .nav-toggle span.close{ @apply hidden lg:block text-off-white; }

    .main-nav{
        @apply block fixed right-[-100%] top-0 z-10 h-full w-full md:w-3/5 lg:w-2/5 pt-16 lg:pt-[8%] pl-16 pr-0 pb-16 bg-soft-black opacity-0 transition ease-in-out;
    }

    .nav-wrap.show .main-nav{ @apply right-0 opacity-100; }

    .main-nav .nav-inner{
        @apply w-full pr-16 xl:w-3/5 md:pr-40 overflow-y-auto h-full;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .main-nav .nav-inner::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .main-nav .menu{
        list-style-type: none;
    }
    .main-nav .menu > li{
        @apply mb-7;
    }
    .main-nav .menu > li.active > a{
        @apply text-aqua;
    }
    .main-nav .menu a{
        @apply no-underline;
    }
    .main-nav .menu > li > a{
        @apply inline-block text-off-white text-xl font-bold hover:text-aqua;
    }
    .main-nav .menu > li.has-children > a{
        @apply  mb-1.5;
    }
    .main-nav .menu .sub-menu > li{
        @apply mb-1.5;
    }
    .main-nav .menu .sub-menu > li > a{
        @apply text-off-white text-lg font-normal hover:underline;
    }

    .main-nav .widget-title{
        @apply text-darker-gray text-base font-bold;
    }

    .main-nav .links{
        @apply grid grid-cols-2 gap-4;
    }

    .main-nav .links a{
        @apply text-off-white no-underline hover:underline;
    }
}